.clear.clear50
.box.box70
	%h1.roboto.headline
		Error: 404
	.clear.clear50
	%p
		The page You are looking for doesn't exist :(
	%p
		Maybe You want to 
		%a{:href => '/'}go back to home
		\?
.box.box30
	.ghosty