.project-container.min-height
  %h1
    About me
  %img{:src=>"/images/avatar-big.png",:alt=>"lukasz kups avatar"}
  .clear.clear50
  %h1.roboto.headline
    My name is lukasz kups and I help modern companies in the creation process of their digital products.
  %p
    I'm a front-end developer with some back-end experience (Rails, Django, MeteorJS). In my projects I'm using git protocol. I currently live in Poznan (Poland) but work with people from around the world, e.g. Brno, Dublin, Berlin, Warsaw, Rotterdam, London and more.
    %br/
    If You want to know more about me, please take a look at my 
    %a{:href=>'/experience/'}
      experience page
    \.