.project-container.min-height
  %h1
    Contact
  .clear.clear10
  %h1.roboto.headline
    If You want to get in touch, email me at
    %a{:href=>'mailto:letstalk@lukaszkups.net'}
      letstalk@lukaszkups.net
    &nbsp;or send me a message via twitter: 
    %a{:href=>'http://twitter.com/ofcapl'}
      @OfcaPL 
    \.