.project-container.min-height
  %h1
    Experience
  .clear.clear30
  %h1.roboto.headline
    Meteor/javascript developer, g33k,technocrat, happy father & husband.
  %p
    I'm a front-end developer with back-end experience. Currently I live in Poznan (Poland) and work with companies from around the world (Brno, Dublin, Berlin, Warsaw, Rotterdam, London and more).
  %h1.roboto.headline
    Resume & Timeline
  .box.box30.brownFont
    2014 - present:
  .box.box70
    Freelance & tech blogging 
    %span.brownFont
      (MeteorJS & IntelXDK side-projects & outsourcing front-end development)
  .box.box30.brownFont
    2013 - present:
  .box.box70
    Working as a JS developer at ITM Business 
    %span.brownFont
      (MeteorJS/IntelXDK/Wordpress/Django front-end development)
  .box.box30.brownFont
    2012 - 2014: 
  .box.box70
    Running own company - Webrackets 
    %span.brownFont
      (I was outsourcing front-end development)
  .box.box30.brownFont
    2012: 
  .box.box70
    Trainee at Nukomeet 
    %span.brownFont
      (junior Ruby On Rails dev/Front-end developer)
  .box.box30.brownFont
    2011: 
  .box.box70
    Trainee at Synergia Plus 
    %span.brownFont
      (junior Ruby On Rails dev/Front-end developer)

  .clear.clear50

  %h1.roboto.headline
    Tools, technologies & other experience
  .box.box30.brownFont
    Systems:
  .box.box70
    Linux, OSX
    %span.brownFont
      (also Windows, but not recommend it for anything but gaming)
  .box.box30.brownFont
    Programming languages/Syntax:
  .box.box70
    Javascript, Ruby, Python, HTML, CSS, Sass, HAML, Markdown
  .box.box30.brownFont
    Frameworks:
  .box.box70
    Meteor.js, IntelXDK, Phonegap/Cordova, Ruby On Rails, Django, Bootstrap, jQuery
  .box.box30.brownFont
    Applications:
  .box.box70
    SublimeText3, vim, terminal, Adobe Photoshop, Adobe Illustrator, jira, pivotal tracker, github, bitbucket
  .box.box30.brownFont
    Software development:
  .box.box70
    git, scrum, kanban, programming motherf*cher, TDD, BDD, FDD
  .box.box30.brownFont
    Languages:
  .box.box70
    Polish
    %span.brownFont
      (native)
    \, English
    %span.brownFont
      (fluent speaking & writing)
  
  .clear.clear50

  %h1.roboto.headline
    Education
  .box.box30.brownFont
    2012 - 2014:
  .box.box70
    Master's degree at 
    %a{:href=>"http://www.put.edu.pl/"}
      Poznań University of Technology
    %span.brownFont
      (IT in Business Processes)
  .box.box30.brownFont
    2008 - 2012:
  .box.box70
    Bachelor of Engineering degree at 
    %a{:href=>"http://www.put.edu.pl/"}
      Poznań University of Technology
    %span.brownFont
      (Information Technology)
